*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 1px solid green;
}

p, h1, h2, h3, h4, h5, h6 {
	line-height: calc(1rem + 0.5em);
}

body {
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

img, picture {
	max-width: 100%;
	display: block;
}

input, button, textarea, select {
	font-family: inherit;
	font-size: inherit;
}

header {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

header > .header-item {
	flex: 1;
}

#page-title__wrapper {
	flex: 4;
}

.page-title {
	text-align: center;
}

.github-anchor__wrapper {
	text-align: right;
}