:root {
	--pri-color: 255, 193, 118;
	--sec-color: 255, 220, 116;
	--tri-color: 100, 111, 88;
	--quat-color: 125, 133, 112;
	--dark-color: 80, 75, 58;
}


@font-face {
	font-family: "goldage";
	src: url("./resources/fonts/goldage.ttf") format("truetype");
}


*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
	line-height: calc(1rem + 0.5em);
}

.page-title {
	margin-top: 1em;
	font-family: "goldage", serif;
	font-size: 3.8vw;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

main {
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

img, picture, svg {
	max-width: 100%;
	display: block;
}

input, button, textarea, select {
	font-family: inherit;
	font-size: inherit;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

header a {
	color: rgb(var(--pri-color));
	text-decoration: none;
}

.page-title {
	text-align: center;
}

#countdown_background {
	width: 80%;
	padding-bottom: 80%;
	align-self: center;
	border-radius: 1000px;
	background-image: radial-gradient(circle, rgba(var(--pri-color), 1), rgba(var(--pri-color), 0) 60%);
	position: relative;
}


#get_result_button {
	display:inline-block;
	cursor: pointer;
	width: 40vw;
	height: 40vw;
	border-radius: 1000px;
	border: none;
	background-color: transparent;
	outline: 1px solid red;
	position: relative;
	color: white;
	font-size: inherit;
}

#golden_hour_countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5vw;	
	color: white;
}

footer {
	align-self: flex-end;
	min-width: 100%;
	margin-top: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer > * {
	flex: 1;
	text-align: center;
	font-size: 3vw;
}

footer p, footer a {
	color: rgb(var(--dark-color));
}